<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="image/gif" />
<meta http-equiv="Content-Language" content="en-us" />
    <title>Ajax Game</title>

    <%= javascript_include_tag :defaults %>
    <%= stylesheet_link_tag('/rcss/default', {:media => "all"})%>
    <%= stylesheet_link_tag('/rcss/bubbletooltip', {:media => "all"})%>
    <%= stylesheet_link_tag('/rcss/units', {:media => "all"})%>
    <%= stylesheet_link_tag('/rcss/playerprofile', {:media => "all"})%>
    <%= stylesheet_link_tag('/rcss/accordion', {:media => "all"})%>
</head>
  <body id="ajax-game">
    
      <%= yield -%>  
  </body>
</html>